html, body {
    margin: 0;
    padding: 0;
}
.block {
    ul {
        margin: 0;
        padding: 0;
    }
    .block-item {
        // width: 100%;
        height: 100px;
        border: 1px solid red;
        list-style: none;
        margin: 0 0 5px 0;
        text-align: center;
        line-height: 100px;
    }
}
