//
// Utility classes
// -------------------------------------------


// Floats
// ------------------------

.clearfix {
	@include clearfix;
}
.center-block {
	@include center-block;
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}

// Toggling content
// ------------------------

.hide { display: none !important; }
.show { display: block !important; }
.invisible { visibility: hidden; }
.text-hide { @include text-hide; }

// Hidn
// ------------------------

.hidden { display: none !important; }

// for Affix plugin(按照浏览器窗口来进行定位)
// ------------------------

.affix { position: fixed; }